{% extends 'base.html.twig' %}

{% block title %}Lista de cursuri{% endblock %}

{% block body %}
    <h1>Lista de cursuri</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nume</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>
                    <a href="{{ path('course_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_new') }}">Create new</a>
{% endblock %}
