{% extends 'base.html.twig' %}

{% block title %}All courses{% endblock %}

{% block body %}
    <ul>
        {% for course in courses %}
            <li>
                <a href="{{ url('course_edit', {'id':course.getId()}) }}">{{ course }}</a>
                <ul>
                    {% for courseGroup in course.getCourseGroups() %}
                        <li>
                            <a href="{{ url('course_group_edit', {'id':courseGroup.getId()}) }}">{{ courseGroup.getName() }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
