<form method="post" action="{{ path('course_group_delete', {'id': course_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course_group.id) }}">
    <button class="btn">Delete</button>
</form>
