{% extends 'base.html.twig' %}

{% block title %}Edit CourseGroup{% endblock %}

{% block body %}
    <h1>Edit CourseGroup</h1>

    {{ include('course_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('course_group_index') }}">back to list</a>

    {{ include('course_group/_delete_form.html.twig') }}
{% endblock %}
