{% extends 'base.html.twig' %}

{% block title %}CourseGroup index{% endblock %}

{% block body %}
    <h1>CourseGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course_group in course_groups %}
            <tr>
                <td>{{ course_group.id }}</td>
                <td>{{ course_group.name }}</td>
                <td>{{ course_group.startDate ? course_group.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ course_group.endDate ? course_group.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('course_group_show', {'id': course_group.id}) }}">show</a>
                    <a href="{{ path('course_group_edit', {'id': course_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_group_new') }}">Create new</a>
{% endblock %}
