{% extends 'base.html.twig' %}

{% block title %}New CourseGroup{% endblock %}

{% block body %}
    <h1>Create new CourseGroup</h1>

    {{ include('course_group/_form.html.twig') }}

    <a href="{{ path('course_group_index') }}">back to list</a>
{% endblock %}
