{% extends 'base.html.twig' %}

{% block title %}CourseGroup{% endblock %}

{% block body %}
    <h1>CourseGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course_group.name }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ course_group.startDate ? course_group.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ course_group.endDate ? course_group.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_group_index') }}">back to list</a>

    <a href="{{ path('course_group_edit', {'id': course_group.id}) }}">edit</a>

    {{ include('course_group/_delete_form.html.twig') }}
{% endblock %}
